* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-bg: rgb(31, 31, 31);
    --text: rgb(202, 202, 202);
    --bg-project: rgb(0, 0, 0);
    --feature: rgba(0,52,28,0.4);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --card-color: rgb(251, 255, 0);
    --green: rgb(0, 128, 0);
    --shadow: rgba(31,31,31,0.5);
    --header: rgba(47, 131, 22, 0.5);
    --nav-height: 5rem;
    --nav-width: 5rem;
    font-size: 16px;
    --me: rgb(26, 70, 13);
}

.project-container {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-project);
    height: 100vh;
    width: 100vw;
    z-index: 2;
}






@media screen and (min-width: 800px) {
  
    .project-container {
        margin-left: var(--nav-width);
        width: calc(100% - var(--nav-width));
        height: 100%;
    }
    
      .feature-container {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
        display: flex;
        background-color: var(--feature);
        flex-wrap: wrap;
        gap: 10%;
        padding: 5%;
        justify-content: center;
        align-items: center;
        
      }
      .project {
        width: 500px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        transition: all 0.3s ease;
        margin-bottom: 80px;
        border: 2px solid black;

      }
      
      .project-image-container {
        width: 100%;
        height: 100%;
        box-shadow: 1px 10px 29px 11px rgba(0,0,0,0.75);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-radius: 15px;
      }
      
      .project-image {
        width: 500px;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: flex-start;
        border-radius: 15px 15px 0px 0px;
        transition: all 0.2s ease-in-out;
        background: transparent;
      }

      .project:hover {
        transform: scale(1.1);
      }

      .project:hover .project-title-container {
          transform: translateY(20%);
          opacity: 0;
      }
      

      .project:hover .project-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 15px;
        transform: scale(1.1);
      }

      .project-title-container {
        width: 500px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        background: rgba(24, 24, 24, 0.5);
        border-radius: 15px;
        transition: all 0.2s ease;
        box-shadow: 0px -15px 25px 0px rgba(0, 0, 0, 0.8);
        z-index: 2;
      }

      

      .project h1 {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          text-align: left;
          font-size: 1.8rem;
          width: 100%;
          height: 25%;
          padding: 25px;
          background: linear-gradient(90deg, rgb(0, 42, 13), rgba(0, 104, 31, 1), rgb(0, 42, 13));
          border-radius: 12px 12px 0 0;
          color: white;
          text-shadow: 2px 2px 5px rgb(0, 0, 0);
      }

      .project p {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          text-align: left;
          font-size: 1.3rem;
          width: 100%;
          height: 100%;
          padding: 25px;
          color: white;

      }

      

      
      
}

@media only screen and (max-width: 800px) {
    
    .project-container {
        width: 100%;
        height: calc(100% - var(--nav-height));
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        color: var(--text);
    } 

    .project-text {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: left;
        font-size: 5rem;
    }
    .project-container {
        height: 100%;
        width: 100%;
        justify-content: center;
        align-self: center;
        align-items: center;
        text-align: center;
    }

    .project {
        width: 350px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        transition: all 0.3s ease;
        margin: 150px 0;
      }
      
      .project-image-container {
        width: 100%;
        height: 100%;
        box-shadow: 1px 10px 29px 11px rgba(0,0,0,0.75);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-radius: 15px;
        
      }
      
      .project-image {
        width: 350px;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: flex-start;
        border-radius: 15px 15px 0px 0px;
        transition: all 0.2s ease-in-out;
        background: transparent;
      }

      .project:hover {
        transform: scale(1.05);
      }

      .project:hover .project-title-container {
          transform: translateY(25%);
          opacity: 0;
      }

     
      .project:hover .project-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        transform: scale(1.1);
      }
      
      .project-title-container {
        width: 350px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        color: black;
        background: rgba(255, 255, 255, 1);
        border-radius: 15px;
        transition: all 0.2s ease;
        border-top: 1px solid black;
      }

      

      .project h1 {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-size: 1.5rem;
          width: 100%;
          height: 100%;
          padding: 15px;
      }

      .project p {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-size: 1rem;
          width: 100%;
          height: 100%;
          padding: 15px;
      }
}